<div class="container py-3 mb-5">

  <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-block btn-warning mb-3" %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mb-3', method: :put }) do |f| %>

    <%= devise_error_messages! %>

    <%= form_group :full_name, :text_field, f, autofocus: true %>
    <%= form_group :email, :email_field, f, autofocus: true %>
    <%= form_group :password, :password_field, f, autocomplete: "off" %>
    <%= form_group :password_confirmation, :password_field, f, autocomplete: "off" %>
    <%= form_group :current_password, :password_field, f, autocomplete: "off" %>

    <%= form_button "Update", f %>
  <% end %>

  <%= button_to "Cancel my account", registration_path(resource_name), data: true, method: :delete, class: "btn btn-primary btn-block btn-danger mt-1" %>
</div>
