<div class="container">

  <h6>Conversation with <%= other_user(@conversation).name %></h6>

  <div id="messages" class="list-group" data-conversation-id="<%= @conversation.id %>">
    <%= render @conversation.messages %>
  </div>

  <%= form_for @message, url: '#' do |f| %>
    <div class="input-group">
      <%= f.text_field :body, class: 'form-control' %>
      <span class="input-group-btn">
        <%= f.submit "Post", class: 'btn btn-primary' %>
      </span>
    </div>
  <% end %>
</div>
