<div class="container">
  <h5>Resend unlock instructions</h5>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <%= form_group :email, :email_field, f, autofocus: true %>

    <%= form_button "Resend unlock instructions", f %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
