.container
  %h5 Add new contact

  = form_tag '/contacts', method: 'patch' do
    .form-group
      = label_tag :email
      = email_field_tag 'contact[email]', '', class: 'form-control'

    .form-group
      = submit_tag 'Request contact', class: 'btn btn-primary btn-block'

= react_component 'contacts/Index',
    unconfirmed_sent_contacts: @unconfirmed_sent_contacts.to_json(include: { sender: { methods: %i[name gravatar_url] }, receiver: { methods: %i[name gravatar_url] } }),
    unconfirmed_received_contacts: @unconfirmed_received_contacts.to_json(include: { sender: { methods: %i[name gravatar_url] }, receiver: { methods: %i[name gravatar_url] } }),
    current_user_id: current_user.id,
    delete_icon: image_url('delete_icon.svg'),
    confirm_icon: image_url('confirm_icon.svg')
