%p#notice= notice

%p
  %b Sender:
  = @contact.sender
%p
  %b Receiver:
  = @contact.receiver
%p
  %b Confirmed at:
  = @contact.confirmed_at

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
